@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x : hidden;
}
.container{
  flex-grow : 1;

  width: 70vw;
  height: 40vw;
  margin-top: 5vw;
  margin-bottom: 5vw;

  display: flex;
  justify-content: center;
  align-items: center;

  perspective: 1200px;
}
.card{
  width: 70vw;
  height: 70vw;

  display: flex;
  justify-content: center;
  align-items: center;

  transform-style: preserve-3d;
}
.card .card-bg{
  position: relative;
  top : -12vw;
  right : -4vw;
}
.card .card-bg img{
  width: 100%;

  z-index: 0;
  position : relative;
  border-radius: 10px;
}
.card .layer1 {
  width : 70vw;
  height : 39.35vw;

  z-index: 1;
  position: absolute;
  top: 13.5vw;
  left: 0;

  text-align: center;
  line-height: 40px;
  background-image: url("../Photos/mountain.png");
  background-size: contain;
  background-repeat: no-repeat;

  transition: all 0.3s ease-out;
}
.card .layer2 {
  width : 70vw;
  height : 39.35vw;

  z-index: 2;
  position: absolute;
  top: 13.5vw;
  left: 1vw;

  text-align: center;
  line-height: 4vw;
  background-image: url("../Photos/school.png");
  background-size: contain;
  background-repeat: no-repeat;

  transition: all 0.3s ease-out;
}

.card .title {
  width : 70vw;
  height : 39.35vw;

  z-index: 5;
  position: absolute;
  top: 28vw;
  left: 1vw;

  text-align: center;
  line-height: 40px;
  font-size : 2em;
  color : white;

  transition: all 0.3s ease-out;
}



.nav-bar {
  width : 100%;
  height : 5em;

  display : flex;
  flex-direction : row;
  position : sticky;


  color : white;
  background-color : rgb(6,11,25);
  top : 0;
  height : 4em;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  z-index : 5;
}

nav .nav-left {
  flex : 1 1 200px;
  padding-left : 70px;
}

.nav-title {
  font-size: 3.5em;
  font-weight: 5em;
  line-height: 1.10em;
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

nav .nav-section {
  height : 100%;

  display: inline-block;
  text-align: center;
  text-decoration: none;

  width : 10vw;
  color: rgba(255,255,255,0.8);
  background-color : rgb(6,11,25);
  font-size : 2em;
  line-height : 2em;
  
  border-left-style : solid;
  border-left-color : rgba(255,255,255,0.8);
  border-left-width : 1px;
}

.nav-section:hover {
  color:rgba(255,255,255,1);
}

.nav-title:hover {
  color:rgba(255,255,255,1);
}

.section {
  height : 500vh;
  width : 100vw;
  padding : 1vw 5vw;

  background-color : white;
  color : rgb(6,11,25);
  text-align: left;

  position : sticky;
  top : 5vh;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.section h1 {
  line-height: 2em;
  font-size: 3em;
}



.about-carousel {
  left : 0;
  width: 300vw;
  height: 75vh;

  display : flex;
  flex-direction: row;
}

.about-carousel-card {
  margin-right : 20vw;
  margin-left : 10vw;
  padding : 1vw;
  left : 0;
  font-size : 1.5em;
  width : 70vw;
  /* background-color: green; */
}

#about {
  height : 500vh;
}

.about-carousel-card img {
  float : right;
  width : 25%;
}


.basics-carousel-upper {
  left : 0;
  width: 1250vw;
  height: 65vh;

  display : flex;
  flex-direction: row;

  /* background-color : red; */
  color : white;
}


.basics-carousel-lower {
  left : 0;
  width: 1250vw;
  height: 10vh;

  display : flex;
  flex-direction: row;

  /* background-color : red; */
  color : white;
}

.basics-carousel-card {
  margin-right : 20vw;
  left : 0;
  width : 90vw;
  display : flex;
  flex-direction: row;
  color : white;
  text-decoration: none;
}

.basics-carousel-image {
  width : 65%;
  height : 100%;

  border-width : 2px;
  border-style : solid;
  border-color : rgba(255,255,255,0.8);

  background-color : white;
  background-repeat : no-repeat;
  background-size : cover;
  background-position : center;
}

.basics-carousel-passage {
  padding-top : 1px;
  padding-left : 7px;

  width : 36%;
  height : 100%;
  overflow-y : hidden;

  background-color : rgb(6,11,25);

  border-width : 2px;
  border-style : solid;
  border-color : rgba(255,255,255,0.8);
  border-left-style : none;
}

.basics-carousel-title {
  margin-right : 20vw;
  left : 0;
  width : 90vw;
  background-color : rgb(6,11,25);
  color : white;
  text-decoration: none;

  border-width : 2px;
  border-style : solid;
  border-color : rgba(255,255,255,0.8);
  border-top-style : none;
}

.basics-carousel-title h1 {
  position : relative;
  font-size : 4em;
  left : 0.5vw;
  top : -1.5vw;
}




#basics {
  height : 500vh;
}







.history-carousel {
  left : 0;
  width: 550vw;
  height: 75vh;

  display : flex;
  flex-direction: row;
}

.history-carousel-card {
  display : block;
  left : 0;
  width : 90vw;
  text-decoration: none;
}

.pointer {
  width : 90vw;
  clip-path: polygon(
    calc(1vw * 90 * 0.85) 0,
    calc(1vw * 90) 50%,
    calc(1vw * 90 * 0.85) 100%,
    0% 100%,
    calc(1vw * 90 * 0.15) 50%,
    0% 0%
  );
}

.pointer-inner {
  position : relative;
  top : 5%;
  left : 5.5%;
  width : 90%;
  height : 90%;
  clip-path: polygon(
    calc(1vw * 81 * 0.85) 0,
    calc(1vw * 81) 50%,
    calc(1vw * 81 * 0.85) 100%,
    0% 100%,
    calc(1vw * 81 * 0.15) 50%,
    0% 0%
  );
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size:180%;
}

.pointer-inner:hover {
  background-size:160%;
  transition : 0.8s;
}

.pointer-inner h1 {
  color : white;
  position : relative;
  top : 15vh;
  left : 15vw;
  font-size : 5em;
}

.pointer-inner:hover h1 {
  font-size : 5.1em;
  transition : 0.8s;
}

.pointer-inner h3 {
  color : white;
  position : relative;
  top : 10vh;
  left : 15vw;
  font-size : 4em;
}

.pointer-inner:hover h3 {
  font-size : 4.1em;
  transition : 0.8s;
}




iframe {
  width : 54vw;
  height : 50vh;
  position : relative;
  left : 3.5vw;
  border:2px solid rgba(255,255,255,0.8);
}

.iframe-link-container {
  display : flex;
  flex-direction : row;
  height : 25vh;
  width : 54vw;

  position : relative;
  left : 3.5vw;
}

.iframe-link {
  height : 100%;
  width : 17.75vw;
  margin-right : .5vw;
  background-repeat : no-repeat;
  background-position: center;
  background-size : 160%;
  font-size : 2em;
  line-height: 10em;
  border:2px solid rgba(255,255,255,0.8);
}

.iframe-link:hover {
  background-size : 150%;
  transition : 0.8s;
}

#extras h3 {
  font-size: 3em;
  font-weight: 5em;
  writing-mode: vertical-lr;
  position : absolute;
  left : 4vw;
  transform : rotate(180deg);
}

.documents-container {
  height : 75vh;
  position : absolute;
  left : 61vw;
  top : 19vh;
}

.documents-container a {
  font-size: 2.5em;
  font-weight: 5em;
  position : relative;
  left : 10vw;
  color : white;
  text-decoration: none;
}

@keyframes background-pan {
  from {background-position: 0% center;}
  to {background-position: -200% center;}
}

#extras a:hover {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    lightblue,
    white,
    white,
    lightblue,
    white
  );
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  text-decoration: none;
}

#extras a:active {
  color : white;
  text-decoration: none;
}

#extras a:visited {
  color : white;
  text-decoration: none;
}

#basics {
  background-color : rgb(6,11,25);
  color : white;
}

#extras {
  background-color : rgb(6,11,25);
  color : white;
  height : 100vh;
  padding-top: 7vh;
}

#history {
  height : 100vh;
}

.spacer {
  height : 1600vh;
}

@media only screen and (max-width: 1030px) {
  .card .title {
    text-align: center;
    line-height: 19px;
    font-size : 1.1em;
  }
  nav .nav-left {
    padding-left : 20px;
    line-height : 10vh;
  }
  .nav-title {
    font-size: 2em;
    font-weight: 5em;
    line-height: 1.10em;
    color: rgba(255,255,255,0.8);
    text-decoration: none;
  }
  nav .nav-section {
    width : 13vw;
    font-size : 1em;
    line-height: 8.5vh;
  }
  .about-carousel-card {
    margin-right : 15vw;
    margin-left : 5vw;
    font-size : 1em;
    width : 80vw;
  }
  .basics-carousel-title h1 {
    font-size : 2.9em;
  }
  .pointer {
    clip-path: polygon(
    calc(1vw * 90 * 0.85) 0,
    calc(1vw * 90) 40%,
    calc(1vw * 90 * 0.85) 80%,
    0% 80%,
    calc(1vw * 90 * 0.15) 40%,
    0% 0%
  );
  }
  .pointer-inner {
    top : 3vh;
    clip-path: polygon(
    calc(1vw * 81 * 0.85) 0,
    calc(1vw * 81) 40%,
    calc(1vw * 81 * 0.85) 80%,
    0% 80%,
    calc(1vw * 81 * 0.15) 40%,
    0% 0%
  );
    background-size:290%;
    background-position: top;
    
  }
  .pointer-inner:hover {
    background-size:280%;
  }
  .pointer-inner h1 {
    top : 20vh;
    font-size : 3.25em;
    line-height: 1em;
    width : 80%;
  }
  .pointer-inner:hover h1 {
    font-size : 3.35em;
  }
  .pointer-inner h3 {
    top : 20vh;
    font-size : 1.5em;
  }
  .pointer-inner:hover h3 {
    font-size : 1.6em;
  }
  .basics-carousel-card {
    display : flex;
    flex-direction: column;
  }
  .basics-carousel-image {
    width : 100%;
  }
  .basics-carousel-passage {
    width : 100%;
  
    border-style : solid;
    border-top-style : none;
  }
  #extras {
    height : 200vh;
  }
  #extras h3 {
    font-size: 2em;
    line-height: 0.5em;
    writing-mode:horizontal-tb;
    transform: rotate(0);
  }
  iframe {
    width : 100%;
    height : vh;
    top : 5vh;
    left : 0;
  }
  .iframe-link-container {
    height : 9vh;
    width : 100%;
    left : 0;
    top : 4.5vh;
  }
  .iframe-link {
    height : 100%;
    width : 70vw;
    margin-right : .5vw;
    background-size : 160%;
    font-size : 2em;
    line-height: 10em;
    border:2px solid rgba(255,255,255,0.8);
  }
  .iframe-link:hover {
    background-size : 150%;
    transition : 0.8s;
  }
  .documents-container {
    position : relative;
    left : 0vw;
    top : 10vh;
  }
  .documents-container h3 {
    writing-mode:horizontal-tb;
    position : relative;
    transform : rotate(0);
  }
  .documents-container a {
    position : relative;
    left : 4vw;
    top : 5vh;
    font-size: 2em;
    font-weight: 5em;

  }
}

@media only screen and (max-width: 515px) {
  .pointer {
    clip-path: polygon(
    calc(1vw * 90 * 0.85) 0,
    calc(1vw * 90) 35%,
    calc(1vw * 90 * 0.85) 70%,
    0% 70%,
    calc(1vw * 90 * 0.15) 35%,
    0% 0%
  );
  }
  .pointer-inner {
    top : 3vh;
    clip-path: polygon(
    calc(1vw * 81 * 0.85) 0,
    calc(1vw * 81) 35%,
    calc(1vw * 81 * 0.85) 70%,
    0% 70%,
    calc(1vw * 81 * 0.15) 35%,
    0% 0%
  );
    background-size:260%;
    background-position:top;
  }
  .pointer-inner:hover {
    background-size:252%;
  }
  .pointer-inner h1 {
    top : 20vh;
    font-size : 3em;
    line-height: 1em;
    width : 80%;
  }
  .pointer-inner:hover h1 {
    font-size : 3.25em;
  }
  .pointer-inner h3 {
    top : 20vh;
    font-size : 1.5em;
  }
  .pointer-inner:hover h3 {
    font-size : 1.6em;
  }
}

@media only screen and (max-width: 514px) {
  body {background-color : blue;}
  nav .nav-left {
    padding-left : 10px;
    line-height : 10vh;
  }
  .nav-title {
    font-size: 1.5em;
    font-weight: 5em;
    line-height: 1.10em;
    color: rgba(255,255,255,0.8);
    text-decoration: none;
  }
  nav .nav-section {
    width : 17vw;
    font-size : 0.80em;
    line-height: 2vh;
  }
  .basics-carousel-title h1 {
    font-size : 2.1em;
    line-height : 2.25em;
  }
  .pointer-inner h1 {
    top : 15vh;
    font-size : 2.5em;
    line-height: 1em;
    width : 80%;
  }
  .pointer-inner h3 {
    top : 15vh;
    font-size : 1.2em;
  }
  .pointer {
    top : 10vh;
  }
  .pointer-inner {
    top : 3vh;
    background-position: top;
    background-size:330%;
  }
  .about-carousel-card {
    font-size : 0.9em;
  }
}
