@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@1,100&display=swap');

body {
  background-color: white;
  overflow-x: hidden;
}

nav {
  display : flex;
  flex-direction : row;
  position : fixed;
  width : 100%;
  color : rgba(255,255,255,0.8);
  background-color : rgb(92,169,4);
  top : 0;
  height : 4em;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  z-index : 5;
}

nav .nav-left {
  flex : 1 1 200px;
  padding-left : 75px;
}

.nav-title {
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 3em;
  font-weight: 5em;
  line-height: 1.30em;
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.nav-title:visited {
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 2.5em;
  line-height: 0em;
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

nav .nav-section {
  height : 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width : 3em;
  color: rgba(255,255,255,0.8);
  background-color : rgb(92,169,4);
  font-size : 2em;
  line-height : 2em;
  border-left-style : solid;
  border-left-color : rgba(255,255,255,0.8);
  border-left-width : 1px;
}

.nav-section:hover {
  color:rgba(255,255,255,1);
}

.nav-section:visited {
  color:rgba(255,255,255,1);
}

.image-carousel {
  display : flex;
  flex-direction : row;
  justify-content : center;
  width : 100%;
  align-items: center;
  position : relative;
  top : 50px;
  margin-bottom : 50px;
}

#image-display {
  background-image : url("StateMachine.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 100%;
  height : 35vw;
  height : 50vw;
}

#image-display img {
  height : 35vw;
  width : 50vw;
}

.turn {
  top : 325px;
  height: 50px;
  width: 50px;
  margin : 25px;
  font-size: 2.5em;
  text-align: center;
  color : rgba(255,255,255,0.8);
  background-color: #bbb;
  line-height: 1.34em;
  border-radius: 50%;
  display: inline-block;
}

.turn:hover {
  color : rgba(255,255,255,1);
  background-color: rgb(150,150,150);
}

main {
        position : relative;
        width : 100%;
        border-top-color: gray;
        border-top-style: solid;
        border-top-width: 5px;
        padding-top: 20px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  margin : 100px 50px;
  background-color : rgb(6,11,25);
  color : white;
  height : 50vh;
  width : 30vh;
  text-align: center;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 5vw;
  line-height: 4.5em;
  border-radius: 25px;
}

#style1 {
  background-color : rgb(6,11,25);
  color : white;
}

#style2 {
  background-color : rgb(237,125,49);
  color : white;
}

#style3 {
  background-color : rgb(92,169,4);
  color : white;
}

.card:hover {
        transform: scale(1.1);
        transition: 1s;
}

#style1:hover {
        background-color: white;
        color: rgb(6,11,25);
        animation-name: animation1;
        animation-duration: 1s;

}


#style2:hover {
        background-color: white;
        color: rgb(237,125,49);
        animation-name: animation2;
        animation-duration: 1s;

}

#style3:hover {
        background-color: white;
        color: rgb(92,169,4);
        animation-name: animation3;
        animation-duration: 1s;

}

@keyframes animation1 {
        from {background-color: rgb(6,11,25);}
        to {background-color: white; color: rgb(6,11,25);};
}

@keyframes animation2 {
        from {background-color: rgb(237,125,49);}
        to {background-color: white; color: rgb(237,125,49);};
}

@keyframes animation3 {
        from {background-color: rgb(92,169,4);}
        to {background-color: white; color: rgb(92,169,4);};
}

.description {
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 3em;
  font-weight: 5em;
  color: rgb(6,11,25);
  width : calc(100% - 40px);
  padding : 20px;
}